.u-block-5dae-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 550px);
  bottom: 90px;
}

.u-block-5dae-3 {
  position: absolute;
  left: 0;
}

.u-block-5dae-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-5dae-5 {
    right: calc(((100% - 940px) / 2)  + 450px);
  }
}

@media (max-width: 991px) {
  .u-block-5dae-5 {
    right: calc(((100% - 720px) / 2)  + 340px);
  }
}

@media (max-width: 767px) {
  .u-block-5dae-5 {
    right: calc(((100% - 540px) / 2)  + 250px);
  }
}

@media (max-width: 575px) {
  .u-block-5dae-5 {
    right: calc(((100% - 340px) / 2)  + 150px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/0670730da753108e588fadcb2c3dea9669528373621ce256293708fc46dc9a8596b6346fb3be07d69d557e7af39a0503a7a22e243d3015e7fd1173_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 252px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-text-1 {
  margin: 64px auto 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 437px;
  width: 1080px;
  margin: 43px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.5;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 761px;
  margin: 35px auto 0;
}

.u-section-2 .u-list-1 {
  width: 668px;
  margin: 35px auto -41px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 318px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-size: cover;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  text-transform: uppercase;
  line-height: 1;
  margin: 29px auto 0;
  padding: 14px 7px 15px 6px;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  text-transform: uppercase;
  line-height: 1;
  margin: 29px auto 0;
  padding: 14px 7px 15px 6px;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  text-transform: uppercase;
  line-height: 1;
  margin: 29px auto 0;
  padding: 14px 7px 15px 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 660px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 967px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 520px;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 944px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 57px auto 0;
}

.u-section-3 .u-text-2 {
  width: 562px;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 340px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto 0 20px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: -38px 124px 0 169px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -20px 47px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 40px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-7 {
  margin: 58px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 685px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("images/81cb57325928c9816cf4682937ef7dba4af9844b271c7dc68a51a77046bb844945b26d567acc794fff004e7fe5e9d13bd19091587ab856c941909f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-9 {
  margin: 32px 21px 0 39px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 121px auto 0;
  padding: 14px 36px 14px 35px;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 68px auto 0;
  padding: 14px 36px 14px 35px;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 26px auto 0;
  padding: 14px 36px 14px 35px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 398px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 3rem;
  margin: 7px 154px 0 99px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 3px 88px 0 150px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 276px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
    margin-top: 19px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-top: 1px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 91px;
    margin-left: 136px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-3 .u-image-1 {
    min-height: 565px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 328px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 120px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 55px;
    margin-left: 117px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 382px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -363px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 649px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1036px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1017px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 974px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 768px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -748px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-3 .u-image-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 57px auto 0;
}

.u-section-4 .u-slider-1 {
  min-height: 499px;
  width: 763px;
  height: auto;
  margin: 34px auto 8px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.24.36.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.29.23.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-4 .u-image-3 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.32.13.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-4 .u-image-4 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.32.57.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 80px;
}

.u-section-4 .u-image-5 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.33.39.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 80px;
}

.u-section-4 .u-image-6 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.34.55.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-16 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 80px;
}

.u-section-4 .u-image-7 {
  width: 120px;
  height: 120px;
  background-image: url("images/Screenshot2023-09-18at20.35.30.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-17 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1946px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 106px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 533px;
    margin-top: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3398px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 477px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 559px;
    margin-top: -153px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 283px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 51px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: -1px;
  margin-bottom: 10px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
  min-height: 190px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-7 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -98px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -8px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -506px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}