.u-section-1 .u-sheet-1 {
  min-height: 206px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 41px auto 26px 520px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 156px;
  }
}