.u-section-1 .u-sheet-1 {
  min-height: 1141px;
}

.u-section-1 .u-text-1 {
  margin: 57px auto 0;
}

.u-section-1 .u-image-1 {
  width: 182px;
  height: 42px;
  margin: 25px 38px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 80px;
  height: 73px;
  margin: -73px auto 0 71px;
}

.u-section-1 .u-list-1 {
  width: 602px;
  margin: -18px 88px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 4.8px));
  min-height: 239px;
  grid-auto-columns: calc(20% - 4.8px);
  grid-gap: 6px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 13px;
}

.u-section-1 .u-image-3 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.28.51.png");
  background-position: 50% 50%;
  margin: 29px -18px 0 21px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 21px -18px 0 22px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 13px;
}

.u-section-1 .u-image-4 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.28.56.png");
  background-position: 50% 50%;
  margin: 29px -18px 0 21px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 21px -18px 0 22px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 13px;
}

.u-section-1 .u-image-5 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Lucia-Conde-2.png");
  background-position: 50% 50%;
  margin: 29px -18px 0 21px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 21px -18px 0 22px;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 13px;
}

.u-section-1 .u-image-6 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.29.05.png");
  background-position: 50% 50%;
  margin: 29px -18px 0 21px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 21px -18px 0 22px;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 13px;
}

.u-section-1 .u-image-7 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.29.09.png");
  background-position: 50% 50%;
  margin: 29px -18px 0 21px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 21px -18px 0 22px;
}

.u-section-1 .u-list-2 {
  width: 360px;
  margin: -221px auto 0 71px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 4px));
  min-height: 213px;
  grid-auto-columns: calc(33.3333% - 4px);
  grid-gap: 6px;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 6px;
}

.u-section-1 .u-image-8 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.28.39.png");
  background-position: 50% 50%;
  margin: -21px -1px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 17px -3px 0 17px;
}

.u-section-1 .u-list-item-7 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 6px;
}

.u-section-1 .u-image-9 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.28.44.png");
  background-position: 50% 50%;
  margin: -21px -1px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 17px -3px 0 17px;
}

.u-section-1 .u-list-item-8 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 6px;
}

.u-section-1 .u-image-10 {
  height: 118px;
  width: 118px;
  background-image: url("../images/Screenshot2024-08-29at14.28.47.png");
  background-position: 50% 50%;
  margin: -21px -1px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 17px -3px 0 17px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 18px 51px 0 89px;
}

.u-section-1 .u-slider-1 {
  min-height: 532px;
  width: 763px;
  height: auto;
  margin: 38px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 80px 29px;
}

.u-section-1 .u-image-11 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.28.39.png");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 80px;
}

.u-section-1 .u-image-12 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.28.44.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 25px 80px;
}

.u-section-1 .u-image-13 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.28.47.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 65px;
}

.u-section-1 .u-image-14 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.28.51.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-1 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 80px;
}

.u-section-1 .u-image-15 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.28.56.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-1 .u-image-16 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Lucia-Conde-2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 80px;
}

.u-section-1 .u-image-17 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.29.05.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 80px;
}

.u-section-1 .u-image-18 {
  width: 163px;
  height: 164px;
  background-image: url("../images/Screenshot2024-08-29at14.29.09.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: -75px;
  top: 105px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 105px;
  right: -77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 286px;
  }

  .u-section-1 .u-image-3 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-2 {
    width: 106px;
  }

  .u-section-1 .u-image-4 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-3 {
    width: 106px;
  }

  .u-section-1 .u-image-5 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-4 {
    width: 106px;
  }

  .u-section-1 .u-image-6 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-5 {
    width: 106px;
  }

  .u-section-1 .u-image-7 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-6 {
    width: 106px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 4px));
    min-height: 287px;
    grid-auto-columns: calc(33.333333333333336% - 4px);
  }

  .u-section-1 .u-image-8 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-9 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-image-10 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    width: 164px;
  }

  .u-section-1 .u-image-12 {
    width: 164px;
  }

  .u-section-1 .u-image-13 {
    width: 164px;
  }

  .u-section-1 .u-image-14 {
    width: 164px;
  }

  .u-section-1 .u-image-15 {
    width: 164px;
  }

  .u-section-1 .u-image-16 {
    width: 164px;
  }

  .u-section-1 .u-image-17 {
    width: 164px;
  }

  .u-section-1 .u-image-18 {
    width: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 4px));
    grid-auto-columns: calc(33.333333333333336% - 4px);
    min-height: 978px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 3px));
    min-height: 881px;
    grid-auto-columns: calc(50% - 3px);
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: calc(50% - 3px);
    min-height: 1896px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}